@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");

:root {
    --Primary-Red: hsl(0, 100%, 68%);
    --Very-Dark-Blue: hsl(230, 29%, 20%);
    --Dark-Grayish-Blue: hsl(230, 11%, 40%);
    --Grayish-Blue: hsl(231, 7%, 65%);
    --Light-Grayish-Blue: hsl(207, 33%, 95%);

    font-size: 18px;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow", sans-serif;
    overflow: hidden;
}

body::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 50vh;
    background-color: var(--Light-Grayish-Blue);
    border-radius: 0 0 0 80px;
    z-index: -1;
}

h1,
h2,
h3,
h4,
h5,
h6,
.CTA,
.PRE,
nav {
    font-family: "Barlow Condensed", sans-serif;
}

/* Header Section */
header {
    width: 80%;
    margin: 3.2em auto;
}

header,
main,
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 2rem;
    vertical-align: middle;
}

nav a {
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    font-size: 0.9rem;
    cursor: pointer;
    color: var(--Very-Dark-Blue);
    letter-spacing: 0.1rem;
}

nav a:hover,
nav a:focus {
    text-decoration: underline;
    outline: none;
}

nav ul li:last-of-type a {
    color: var(--Grayish-Blue);
}

nav ul li:nth-of-type(4) {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--Grayish-Blue);
    margin-right: 2.4em;  
    opacity: 0.5;
}

/* Main Section */
main {
    width: 80%;
    margin: 6em auto;
}

#hero,
#hero-img {
    width: 50%;
}

#hero h4,
#hero h1,
#hero a {
    text-transform: uppercase;
    text-decoration: none;
}

h4 {
    color: var(--Grayish-Blue);
    font-weight: 300;
    letter-spacing: 0.3em;
    font-size: 0.85em;
    margin-bottom: 1.5rem;
}

h4 span {
    background-color: var(--Very-Dark-Blue);
    color: white;
    width: 50px;
    height: 25px;
    border-radius: 15px;
    padding: 0.2em 0.8em;
    letter-spacing: normal;
    margin-right: 1em;
}

h1 {
    font-size: 3.5em;
    color: var(--Very-Dark-Blue);
    line-height: 1em;
    margin-bottom: 2rem;
}

#hero p {
    width: 50%;
    color: var(--Dark-Grayish-Blue);
    margin-bottom: 4rem;
}

.CTA {
    background-color: var(--Primary-Red);
    color: white;
    font-weight: 700;
    padding: 0.9em 2em;
    border-radius: 5px;
    letter-spacing: 0.1rem;
    font-size: 0.85em;
}

.CTA:hover,
.CTA:focus {
    opacity: 0.8;
}

.PRE {
    color: var(--Grayish-Blue);
    font-weight: 700;
    padding: 0.85em 2em;
    letter-spacing: 0.2rem;
    font-size: 0.85em;
    font-weight: 400;
}


/* Footer Section */
footer {
    background-color: #000;
    height: 6vh;
}

.attribution {
    font-size: 0.8rem;
    text-align: center;
    color: white;
    line-height: 6vh;
}

.attribution a {
    color: hsl(228, 100%, 75%);
    text-decoration: none;
    font-weight: 700;
}

/* Mobile Version */
@media screen and (max-width: 375px) {
}
