@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");

:root {
    --Primary-Red: hsl(0, 100%, 68%);
    --Very-Dark-Blue: hsl(230, 29%, 20%);
    --Dark-Grayish-Blue: hsl(230, 11%, 40%);
    --Grayish-Blue: hsl(231, 7%, 65%);
    --Light-Grayish-Blue: hsl(207, 33%, 95%); 
    
    font-size: 18px;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow", sans-serif;
}

body::after {
    content: "";
    display: block; 
    position: absolute;
    top: 0;
    right: 0;
    width: 48vw;
    height: 50vh;
    background-color: var(--Light-Grayish-Blue);
    border-radius: 0 0 0 80px;
    z-index: -1;
}

h1, h2, h3, h4, h5, h6,
.CTA, Nav {
    font-family: "Barlow Condensed", sans-serif;
}



/* Footer Section */
footer {
    background-color: #000;
    height: 6vh;
}

.attribution {
    font-size: 0.8rem;
    text-align: center;
    color: white;
    line-height: 6vh;
}

.attribution a {
    color: hsl(228, 100%, 75%);
    text-decoration: none;
    font-weight: 700;
}

/* Mobile Version */
@media screen and (max-width: 375px){}


